InsertService/InsertService/SOA/WADLs/InsertServiceRef.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="InsertServiceRef">RestReference</doc>
   <resources>
      <resource path="/insertDemandeMission">
         <method name="POST" soa:name="insertDemandeMission">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response/>
         </method>
      </resource>
      <resource path="/insertMission">
         <method name="POST" soa:name="insertMission">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response/>
         </method>
      </resource>
      <resource path="/InsertDemandeRetour">
         <method name="POST" soa:name="InsertDemandeRetour">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response/>
         </method>
      </resource>
      <resource path="/InsertDemandeRemboursement">
         <method name="POST" soa:name="InsertDemandeRemboursement">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response/>
         </method>
      </resource>
   </resources>
</application>
